@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
}
@media screen and (min-width: 769px) {
  body {
    width: 50%;
  }
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  font-weight: 900;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 900;
}

button {
  border-radius: 2rem;
  height: 2.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0rem 1.5rem;
  height: 2.5rem;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
  box-shadow: 1px 10px 28px 1px rgba(0, 0, 0, 0.3);
}

span {
  font-weight: 900;
}

.--white {
  color: white;
}

.ligne {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
}

.chargement {
  display: none;
  position: absolute;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__flèche {
  margin-left: 25px;
  margin-right: 65px;
}

.logo {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  height: 1.5rem;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
.location__h1 {
  width: 65%;
  padding-top: 1.5rem;
  height: 2rem;
  text-align: center;
}
.location__p {
  margin: 25px 5px;
  width: 75%;
  text-align: center;
  margin-bottom: 2rem;
  color: #7d7d7d;
}
.location__button {
  border-radius: 2rem;
  height: 2.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0rem 1.5rem;
  height: 2.5rem;
}
.location__ville {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  background: linear-gradient(to top, #eaeaea, 95%, #cfcfcf);
}
.location__ville__p {
  margin-left: 1rem;
  font-weight: 700;
}

.fonctionnement {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0rem;
}
.fonctionnement__h1 {
  margin-bottom: 2rem;
  margin-right: 5rem;
  margin-left: 2rem;
}
.fonctionnement__list {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  height: 4.5rem;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0rem 0.1rem 0.5rem lightgrey;
  width: 325px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.fonctionnement__list__p {
  font-weight: 900;
}
.fonctionnement__list--fondcolor {
  background-color: #f5edff;
}
.fonctionnement__list__étape {
  margin-right: 1rem;
  background-color: #9356DC;
  height: 1.5rem;
  border-radius: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  left: -0.75rem;
}
.fonctionnement__list__logo {
  margin-right: 1rem;
}
.fonctionnement__list__logo--gris {
  color: #7e7e7e;
}
.fonctionnement__list__logo--primarycolor {
  color: #9356DC;
}

.restaurants {
  margin-top: 2rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants__titre {
  width: 100%;
}
.restaurants__présentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 335px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.restaurants__présentation__nouveau {
  color: #008766;
  background-color: #99E2D0;
  width: min-content;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.restaurants__présentation__nom {
  background-color: white;
  width: 335px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  margin-bottom: -1px;
}
.restaurants__présentation__nom__texte {
  height: 75px;
  padding-left: 15px;
  padding-top: 0px;
  line-height: 10px;
}
.restaurants__présentation__nom__texte + div {
  margin-right: 45px;
}
.restaurants__présentation__nom--coeur_vide {
  position: absolute;
  z-index: 2;
  top: -10px;
}
.restaurants__présentation__nom--coeur_vide:hover + .--coeur_rempli {
  opacity: 1;
}

.--coeur_rempli {
  position: absolute;
  color: #FF79DA;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 1;
  top: -10px;
}

.logo_coeur {
  position: relative;
}

#lapalettedugoût {
  background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}

#lanoteenchantée {
  background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
}

#àlafrançaise {
  background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
}

#ledélicedessens {
  background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}

.footer {
  background-color: #353535;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}
.footer__ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  font-size: 1.25rem;
  font-family: "Shrikhand", cursive;
  height: 1.5rem;
}
.footer__ul__lien {
  color: white;
}
.footer__ul__lien__li {
  margin-bottom: 0.75rem;
  margin-right: 100px;
}

#restaurant_lapalettedugout {
  background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
  padding-top: 220px;
}

#restaurant_lanoteenchantée {
  background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
  padding-top: 220px;
}

#restaurant_àlafrançaise {
  background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
  padding-top: 220px;
}

#restaurant_ledélicedessens {
  background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
  padding-top: 220px;
}

.logo_coeur {
  position: relative;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px;
  padding-bottom: 60px;
}
.menu__titre {
  box-sizing: border-box;
  width: 355px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: "Shrikhand", cursive;
  padding: 0 40px 0 15px;
  padding-left: 20px;
}
.menu__cat {
  box-sizing: border-box;
  line-height: 0px;
  margin: 30px 1440px 14px 20px;
}
.menu__plat {
  box-sizing: border-box;
  margin: 0px 15px 15px 10px;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0rem 0.1rem 0.5rem lightgrey;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.menu__plat__div {
  height: 70px;
  line-height: 10px;
  margin-left: 10px;
  width: 210px;
  flex-grow: 2;
}
.menu__plat__div__description {
  padding-top: 3px;
  display: block;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plat__div__nom {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 20px;
  padding: 0;
  margin: 10px 0 0 0;
  line-height: normal;
}
.menu__plat__prix {
  width: 70px;
  padding: 40px 0px 0 0px;
  text-align: center;
}
.menu__plat__check {
  height: 70px;
  background-color: #99E2D0;
  width: 60px;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu__plat:hover .menu__plat__check {
  display: flex;
}
.menu__button {
  display: block;
  margin: auto;
  width: 185px;
  height: 50px;
  margin-top: 30px;
}

.espace_menu {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
