$color-primary:#9356DC ;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$font-primary:'Roboto', sans-serif;
$font-title:'Shrikhand', cursive;


body {
    font-family:$font-primary;
    margin:0 auto;
    padding:0;
    font-size:100%;
    @media screen and (min-width:769px){
        width:60%;
    }
    
}

a {
    text-decoration:none;
    color:black 
} 
li {
    list-style: none;
}

h1 {
    font-weight:900;
}
h2{
    font-size:18px;
    font-weight:400;
    text-transform: uppercase;
}
h3{
    font-size:18px;
    font-weight:900;
}
button {
    border-radius: 2rem;
            height:2.5rem;
            background: linear-gradient($color-secondary,$color-primary);
            color:white;
            border:none;
            padding:0rem 1.5rem;
            height:2.5rem;
            box-shadow:0px 5px 14px 0px rgba(0,0,0,0.3);
            cursor:pointer;
}
span {
    font-weight:900;
}
.--white {
    color:white;
} 
.ligne {
    width:40px;
    height:3px;
    background-color:$color-tertiary;
    border:none;


    
    
}
.header {
    height:65px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    &__flèche {
        margin-left:25px;
        margin-right:65px;
    }   

}

.logo {
text-align: center;
font-size: 1.5rem;
font-family: $font-title;
height:1.5rem;

}

.location {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom:3rem;
    margin-bottom:2rem;
    
    
        &__h1 {
            width:65%;
            padding-top:1.5rem;
            height:2rem;
            text-align: center;
        }
        &__p {
            margin:25px 5px;
            width:75%;
            text-align: center;
            margin-bottom:2rem;
            color:#7d7d7d;
        }
        &__button {
            border-radius: 2rem;
            height:2.5rem;
            background: linear-gradient($color-secondary,$color-primary);
            color:white;
            border:none;
            padding:0rem 1.5rem;
            height:2.5rem;
            
        }
        &__ville {
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color:#eaeaea;
            background: linear-gradient(to top, #eaeaea,95%, #cfcfcf);
    
            &__p {
             margin-left:1rem;
             font-weight: 700;
             }
        }
}

.fonctionnement {
    display:flex;
    flex-wrap: wrap;
    padding-top:0rem;

        &__h1 {
            margin-bottom:2rem;
            margin-right:5rem;
            margin-left:2rem;
        }
        &__list {
            background-color: #f6f6f6;
            display:flex;
            align-items: center;
            height:4.5rem;
            position:relative;
            border-radius:1rem;
            margin-bottom:1.5rem;
            box-shadow: 0rem 0.1rem 0.5rem lightgrey;
            width:325px;
            margin-right: 1.5rem;
            margin-left:1.5rem;
            &__p{
                font-weight: 900;
            }
            &--fondcolor {
                background-color:#f5edff ;
            }

            &__étape {
                margin-right:1rem;
                background-color: $color-primary;
                height:1.5rem;
                border-radius:1.5rem;
                width:1.5rem;
                display:flex;
                justify-content: center;
                align-items: center;
                color:white;
                position:relative;
                left:-0.75rem
                 
            }

            &__logo {
                margin-right:1rem;
                
                &--gris{
                    color: #7e7e7e;
                }
                &--primarycolor {
                    color:$color-primary
                } 
            
            }
        }
}
.displaynone {
    display:none
}
.--coeur_rempli {
    display:none;
    color:$color-secondary;
}
.restaurants {
    margin-top:2rem;
    padding:2rem 1.5rem 3rem 1.5rem;
    background-color: #f6f6f6 ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__titre {
        width:100%
    }
    &__présentation {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width:335px;
        height:250px;
        border-radius: 15px;
        margin-bottom: 2rem;
        
        &__nouveau {
            color:#008766;
            background-color: $color-tertiary;
            width:min-content;
            width:80px;
            height:30px;
            display:flex;
            justify-content:center;
            align-items: center;
            margin-right:10px;
        }

        &__nom{
            background-color: white;
            width:335px;
            height:75px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 0 15px 15px;
            margin-bottom:-1px;
            &__texte {
                height:75px;
                padding-left:15px;
                padding-top:20px;
                line-height: 10px;   
            }
            &__texte ~ div{
              margin-right:25px;  
            }
            &--coeur_vide:hover{
                display:none;  
            }            
            &--coeur_vide:hover + .--coeur_rempli {
                display:block;
            }
        }
    }
}


#lapalettedugoût {
    background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
}
#lanoteenchantée {
    background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
}
#àlafrançaise {
    background:url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
}
#ledélicedessens {
    background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
}

.footer {
    background-color:#353535;
    color:white;
    padding-left:1.25rem;
    padding-top:0.5rem;
    padding-bottom:1.25rem;
    display:flex;
    flex-direction: column;
    
        &__ul {
            padding:0;
            display:flex;
            flex-wrap:wrap;
        
            
        }
        &__logo {
    
            font-size: 1.25rem;
            font-family: $font-title;
            height:1.5rem;
        }
        &__ul__lien {
            color:white;

            &__li {
                margin-bottom:0.75rem;
                margin-right:100px;
            }
        
        }
}

#restaurant{
    width:100%;
    background:url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;
    background-size:contain;
    background-position:top;
    padding-top:220px;
    
}

.menu {
    box-sizing: border-box;
    width:100%;
    background-color:#f6f6f6;
    border-radius: 30px;
    padding-bottom:60px;
    
    
    &__titre {
        box-sizing: border-box;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-family: $font-title;
        padding: 0 40px 0 15px;
    }
    &__cat {
        box-sizing: border-box;
        line-height: 0px;
        margin:30px 1440px 14px 20px;
    } 
    
    &__plat {
        box-sizing: border-box;
        margin: 0px 15px 15px 10px;
        width:350px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0rem 0.1rem 0.5rem lightgrey;
        display:flex;
        justify-content: space-between;
        cursor:pointer;
       
        &__div {
            height:70px;
            line-height: 10px;
            margin-left:10px;
            width:210px;
            flex-grow:2;
            &__description {
                padding-top:3px;
                display:block;
                height:20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow-x: hidden;
            }
            &__nom {
                white-space: nowrap;
            }
        }

        &__prix { 
            width:70px;
            padding: 40px 0px 0 0px;
            text-align: center;
        }
        &__check {
            height:70px;
            background-color: $color-tertiary;
            width:60px;
            border-radius: 0 15px 15px 0;
            justify-content: center;
            align-items: center;
            display:none;
        }
        &:hover &__check {
            display:flex;
        }
    }
    &__button {
        display:block;
        margin:auto;
        width:185px;
        height:50px;
        
    }
}

.espace_menu {
    margin-bottom: 45px;
    display:flex;
    flex-wrap: wrap;
}