$color-primary:#9356DC ;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$font-primary:'Roboto', sans-serif;
$font-title:'Shrikhand', cursive;


body {
    font-family:$font-primary;
    margin:0 auto;
    padding:0;
    font-size:100%;
    width:100%;
    margin:auto;
}

a {
    text-decoration:none;
    color:black;
    padding:0;
    margin:0;
} 
li {
    list-style: none;
}

h1 {
    font-weight:900;
}
h2{
    font-size:18px;
    font-weight:400;
    text-transform: uppercase;
}
h3{
    font-size:18px;
    font-weight:900;
}
button {
    border-radius: 2rem;
            height:2.5rem;
            background: linear-gradient($color-secondary,$color-primary);
            color:white;
            border:none;
            padding:0rem 1.5rem;
            height:2.5rem;
            box-shadow:0px 5px 14px 0px rgba(0,0,0,0.3);
            cursor:pointer;
            outline:0;
     &:hover {
        background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
        box-shadow:1px 10px 28px 1px rgba(0,0,0,0.3);
        }
        
}
span {
    font-weight:900;
}

.white {
    color:white;
}

.ligne {
    width:40px;
    height:3px;
    background-color:$color-tertiary;
    border:none;
    margin-left:0;
     
}



/*Chargement à l'arrivée de la page web*/
.chargement {
    display:none;
    @media screen and (max-width:768px) {
    display:block;
     height:100vh;
     width:100%;
    background-color:$color-tertiary;
    z-index:3;
    top:0px;
    position:absolute;
    animation: clear 3s;
    animation-fill-mode:forwards;
    
    }
}
@keyframes clear {
    0% {opacity:1;}
    99% {opacity:1;}
    100% {opacity:0;}

}
.animation {
    color:white;
    text-align: center;
    font-size: 3rem;
    font-family: $font-title;
    margin:0 auto;
    margin-top:30vh;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 155px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: $color-tertiary;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em; 
  transform-origin: 5.1em 5.1em;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: $color-tertiary;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  transform-origin: 0.1em 5.1em;
  animation: load2 2s infinite ease;
}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
    
/* fin animation*/


.header {
    height:65px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    &__flèche {
        margin-left:25px;
        margin-right:65px;
    }   

}

.logo {
text-align: center;
font-size: 1.5rem;
font-family: $font-title;
height:1.5rem;

}

.location {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom:3rem;
    margin-bottom:2rem;
    
    
        &__h1 {
            width:65%;
            padding-top:1.5rem;
            height:2rem;
            text-align: center;
        }
        &__p {
            margin:25px 5px;
            width:75%;
            text-align: center;
            margin-bottom:2rem;
            color:#7d7d7d;
        }
        &__button {
            border-radius: 2rem;
            height:2.5rem;
            background: linear-gradient($color-secondary,$color-primary);
            color:white;
            border:none;
            padding:0rem 1.5rem;
            height:2.5rem;
            
        }
        &__ville {
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color:#eaeaea;
            background: linear-gradient(to top, #eaeaea,95%, #cfcfcf);
    
            &__p {
             margin-left:1rem;
             font-weight: 700;
             }
        }
}

.fonctionnement {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:0rem;
        &__h1 {
            margin-bottom:2rem;
            margin-right:5rem;
            margin-left:2rem;
            width:100%;

        }
        &__list {
            background-color: #f6f6f6;
            display:flex;
            align-items: center;
            height:4.5rem;
            position:relative;
            border-radius:1rem;
            margin-bottom:1.5rem;
            box-shadow: 0rem 0.1rem 0.5rem lightgrey;
            width:325px;
            margin-right: 1.5rem;
            margin-left:1.5rem;
            @media screen and (min-width:768px) {
           
                grid-row: 2;
            }
            &__p{
                font-weight: 900;
            }
            &--fondcolor {
                background-color:#f5edff ;
            }

            &__étape {
                margin-right:1rem;
                background-color: $color-primary;
                height:1.5rem;
                border-radius:1.5rem;
                width:1.5rem;
                display:flex;
                justify-content: center;
                align-items: center;
                color:white;
                position:relative;
                left:-0.75rem
                 
            }

            &__logo {
                margin-right:1rem;
                
                &--gris{
                    color: #7e7e7e;
                }
                &--primarycolor {
                    color:$color-primary
                } 
            
            }
        }
}

.restaurants {
    width:100%;
    margin-top:2rem;
    padding:2rem 0rem 3rem 0rem;
    background-color: #f6f6f6 ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__titre {
        width:100%;
        margin-left:2rem;
    }
    &__présentation {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width:335px;
        height:250px;
        border-radius: 15px;
        margin-bottom: 2rem;
    
        
        &__nouveau {
            color:#008766;
            background-color: $color-tertiary;
            width:min-content;
            width:80px;
            height:30px;
            display:flex;
            justify-content:center;
            align-items: center;
            margin-right:10px;
        }

        &__nom{
        
            background-color: white;
            width:335px;
            height:75px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 0 15px 15px;
            margin-bottom:-1px;
            &__texte {
                height:75px;
                padding-left:15px;
                padding-top:0px;
                line-height: 10px;   
            }
            &__texte + div{
              margin-right:45px;  
            }
            &--coeur_vide {
                position:absolute;
                z-index:2; 
                top:-10px;
                         
                &:hover + .coeur_rempli {
                    opacity:1
                }
            }
        }
    }
}

.coeur_rempli {
    position:absolute;
    color:$color-secondary;
    opacity:0;
    transition:opacity 500ms;
    z-index:1;
    top:-10px; 
    
}
.logo_coeur {
    position:relative;
    
}


#lapalettedugoût {
    background: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
}
#lanoteenchantée {
    background: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
}
#àlafrançaise {
    background:url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
}
#ledélicedessens {
    background: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
}

.footer {
    background-color:#353535;
    color:white;
    
    padding-top:0.5rem;
    padding-bottom:1.25rem;
    display:flex;
    flex-direction: column;
    width:100%;
    
    
        &__ul {
            padding:0;
            margin-left:1.25rem;
            /*display:flex;
            flex-wrap:wrap;*/
            @media screen and (min-width:426px){
                display:flex;
                justify-content: space-around;
                width:75%;
                margin:auto;



            }
        
            
        }
        &__logo {
    
            font-size: 1.25rem;
            font-family: $font-title;
            height:1.5rem;
            margin-left:1.25rem;
        }
        &__ul__lien {
            color:white;

            &__li {
                margin-bottom:0.75rem;
                margin-right:50px;
            }
        
        }
}

#restaurant_lapalettedugout{
    background:url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
    width:100%;
    background-size:contain;
    background-position:top;
    padding-top:220px;
}
#restaurant_lanoteenchantée{
    background:url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
    width:100%;
    background-size:contain;
    background-position:top;
    padding-top:220px;

}
#restaurant_àlafrançaise {
    background:url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
    width:100%;
    background-size:contain;
    background-position:top;
    padding-top:220px;

}
#restaurant_ledélicedessens {
    background:url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
    width:100%;
    background-size:contain;
    background-position:top;
    padding-top:220px;
}
.logo_coeur {
    position:relative;
}

.menu {
    box-sizing: border-box;
    width:100%;
    background-color:#f6f6f6;
    border-radius: 30px 30px 0 0;
    padding-bottom:60px;
      
    &__titre {
        box-sizing: border-box;
        width:355px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-family: $font-title;
        padding: 0 40px 0 15px;
        padding-left:20px;   
    }

    &__cat {
        box-sizing: border-box;
        line-height: 0px;
        margin:30px 0px 14px 20px;
        width:100%;
    } 
    
    &__plat {
        box-sizing: border-box;
        margin: 0px 15px 15px 10px;
        width:350px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0rem 0.1rem 0.5rem lightgrey;
        display:flex;
        justify-content: space-between;
        cursor:pointer;
        opacity:0;
        animation: apparition 1s;
        animation-fill-mode:forwards;
        position: relative;
        @keyframes apparition {
            0% {opacity:0; bottom:-10px}
            100% {opacity:1; bottom:0px}
        }
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: 100ms * $i;
             }
        }
           
        &__div {
            height:70px;
            line-height: 10px;
            margin-left:10px;
            width:210px;
            flex-grow:2;
            &__description {
                padding-top:3px;
                display:block;
                height:20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &__nom {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display:block;
                height:20px;
                padding:0;
                margin:10px 0 0 0;
                line-height: normal;
            }
        }

        &__prix { 
            width:70px;
            padding: 40px 0px 0 0px;
            text-align: center;
           
        }
        &__check {
            height:70px;
            background-color: $color-tertiary;
            width:0px;
            border-radius: 0 15px 15px 0;
            line-height: 70px;
            text-align: center;
            vertical-align: middle;
            transition: all 500ms;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            &--spin {
                    transform: rotate(-360deg);
                    transition: transform 500ms ease-in-out
               
            }
        }
        &:hover &__check {
            display:block;
            transform: scaleX(1);
            width:60px;
            
        }
        &:hover &__check--spin {
            transform: rotate(0deg)
        }
    }
    &__button {
        display:block;
        margin:auto;
        width:185px;
        height:50px;
        margin-top:30px;    
    }
}

.espace_menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
