.header {
    height:65px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    &__flèche {
        margin-left:25px;
        margin-right:65px;
    }   

}
.logo {
    text-align: center;
    font-size: 1.5rem;
    font-family: $font-title;
    height:1.5rem;
    
    }